.side-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 65px;
    width: 72px;

    color: black;
    z-index: 200;
}
.side-bar-link{
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    cursor: pointer;
  
}
.side-bar-link:hover {
    background-color:rgb(217, 209, 209);
}
.side-bar-link img {
    height: 24px;
    margin-bottom: 4px;
}
.side-bar-link div{
    font-size: 10px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
